@charset "utf-8";

body{
  background-color: brown;
}
h1{color: aliceblue;

}
#id html{color: cornsilk;}
.basiccolor {
  color: aquamarine
}
.largesize{
  font-size:24px;
}

.italic{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}